
@import 'nib'

body header h1 img
    border      none
    background  none
    padding     0
    margin      96px 0 0 0
    box-shadow  none

body header nav ul li#current span
    bottom      -8px
