
@import url('../vendor/epiceditor/themes/preview/github.css');

#epiceditor-preview {
    padding-top:3px !important;
    padding-bottom:0px !important;
    margin-left:-7px !important;
    margin-right:-7px !important;
}